<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label for="customer">Customer Name</label>
      <input
        type="text"
        class="form-control"
        id="customer"
        placeholder="Enter customer name"
        [(ngModel)]="customer"
      />
      <input
        type="button"
        class="btn btn-dark"
        (click)="addCustomer()"
        value="addCustomer"
      />
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              View json
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <div class="card-body">
            <pre>{{ customers | json }}</pre>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedCustomer" class="alert alert-primary" role="alert">
      customerSelected: {{ selectedCustomer }}
    </div>
    <div class="alert alert-success" role="alert" #alertaddelement></div>
  </div>
  <div class="col-lg-6">
    <!-- <app-listcustomer 
      [customers]="customers"
      (on-select-customer)="onSelectCustomer($event)"
    ></app-listcustomer> -->

    <app-listcustomer #listCustomer></app-listcustomer>
  </div>
</div>
