<p>piple-sample works!</p>
<div class="row">
  <div class="col-lg-6">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-subtitle mb-2 text-muted">Product Details</h6>
        <p class="card-text">
          ProductId: {{ product.productId | customPipe : "x" : "121" }}
        </p>
        <p class="card-text">
          ProdutName:{{ product.productName | uppercase }}
        </p>
        <p class="card-text">ProductCode: {{ product.productCode }}</p>
        <p class="card-text">
          ProductPrice:
          {{ product.productPrice | currency : "INR" : "symbol" : "1.2-2" }}
        </p>
        <p class="card-text">CreatedDate: {{ product.createdAt }}</p>
      </div>
    </div>

    <input
      type="text"
      class="form-control"
      placeholder="Search Product"
      [(ngModel)]="searchInput"
      id="basic-addon1"
      aria-label=""
      aria-describedby="basic-addon1"
    />
    <ul class="list-group">
      @for(p of products | search: searchInput; track $index) {
      <li class="list-group-item">
        {{ p.productName }}
      </li>
      }
    </ul>
    <div>
      <input
        type="button"
        class="btn btn-primary"
        value="Click Me!"
        (click)="redirect()"
      />
    </div>
  </div>
  <div class="col-lg-6">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="highlight"
          aria-current="page"
          routerLink="pipechild1"
          >PipeChild1</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="highlight" routerLink="pipechild2"
          >PipeChild2</a
        >
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
