/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
.intro {
  background-color: yellow;
}
.r1 {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.g1 {
  color: green;
}
.b1 {
  color: blue;
  font-weight: bold;
}

.input-red {
  color: red;
}
.highlight {
  background-color: pink;
}
